In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('covid_case_data.csv', low_memory=False)

In [17]:
#df.head()

In [4]:
correct = pd.notnull(df['Country_Region'])
correct = df[correct].copy()
correct.drop(columns=['Province/State', 'Country/Region', 
                      'Last Update', 'Latitude', 'Longitude'
                     ], inplace=True)

In [5]:
wrong = pd.isna(df['Country_Region'])

wrong = df[wrong].copy()
wrong.drop(columns=['Combined_Key', 'Province_State', 
                    'Country_Region', 'Lat', 'Long_'], 
           inplace=True
          )

In [6]:
col_names = {'Province/State': 'Province_State', 
             'Country/Region': 'Country_Region',
             'Last Update': 'Last_Update',
             'Latitude': 'Lat',
             'Longitude': 'Long_'}

In [7]:
wrong.rename(columns=col_names, inplace=True)

In [9]:
wrong['Last_Update'] = pd.to_datetime(wrong['Last_Update'])
wrong['Date'] = wrong['Last_Update'].dt.date
wrong.drop(columns='Last_Update', inplace=True)

In [10]:
wrong.head()

,Date,Confirmed,Deaths,Recovered,Active,Incidence_Rate,Case-Fatality_Ratio,Province_State,Country_Region,Lat,Long_
56418,2020-03-10,67760,3024,47743,NaN,NaN,NaN,Hubei,Mainland China,30.9756,112.2707
56419,2020-03-10,10149,631,724,NaN,NaN,NaN,NaN,Italy,43.0000,12.0000
56420,2020-03-10,8042,291,2731,NaN,NaN,NaN,NaN,Iran (Islamic Republic of),32.0000,53.0000
56421,2020-03-10,7513,54,247,NaN,NaN,NaN,NaN,Republic of Korea,36.0000,128.0000
56422,2020-03-10,1784,33,12,NaN,NaN,NaN,NaN,France,47.0000,2.0000

In [11]:
correct.head()

,Date,Province_State,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,2020-06-08,South Carolina,US,34.223334,-82.461707,51,0,0,51.0,"Abbeville, South Carolina, US",207.934113,0.000000
1,2020-06-08,Louisiana,US,30.295065,-92.414197,502,28,0,474.0,"Acadia, Louisiana, US",809.090176,5.577689
2,2020-06-08,Virginia,US,37.767072,-75.632346,983,13,0,970.0,"Accomack, Virginia, US",3001.609110,1.340206
3,2020-06-08,Idaho,US,43.452658,-116.241552,838,22,0,816.0,"Ada, Idaho, US",174.008019,2.625298
4,2020-06-08,Iowa,US,41.330756,-94.471059,9,0,0,9.0,"Adair, Iowa, US",125.838926,0.000000

In [14]:
new_df = pd.concat([correct, wrong], ignore_index=True, sort=True)

In [15]:
new_df.head()

,Active,Case-Fatality_Ratio,Combined_Key,Confirmed,Country_Region,Date,Deaths,Incidence_Rate,Lat,Long_,Province_State,Recovered
0,51.0,0.000000,"Abbeville, South Carolina, US",51,US,2020-06-08,0,207.934113,34.223334,-82.461707,South Carolina,0
1,474.0,5.577689,"Acadia, Louisiana, US",502,US,2020-06-08,28,809.090176,30.295065,-92.414197,Louisiana,0
2,970.0,1.340206,"Accomack, Virginia, US",983,US,2020-06-08,13,3001.609110,37.767072,-75.632346,Virginia,0
3,816.0,2.625298,"Ada, Idaho, US",838,US,2020-06-08,22,174.008019,43.452658,-116.241552,Idaho,0
4,9.0,0.000000,"Adair, Iowa, US",9,US,2020-06-08,0,125.838926,41.330756,-94.471059,Iowa,0

In [16]:
len(new_df) == len(df)

True

In [19]:
# new_df.to_csv('clean_cases.csv')